@import "tailwindcss";

:root {
  --primary: #1fb757;
  --primary-hover: #16a34a;

  --background: #ffffff;
  --foreground: #0f172a;

  --success: #16a34a;
  --warning: #facc15;
  --error: #ef4444;
}

body {
  color: var(--foreground);
  background: var(--background);
}
